@font-face {
  font-family: 'League Spartan';
  src: url('/assets/LeagueSpartanVariable.woff2') format('woff2');
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  font-family: 'League Spartan','Segoe UI', Tahoma, sans-serif;
  /* font-variation-settings: 'wght' 689; */
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 
=============================================================

=============================================================
*/



.page__header {
  background: black;
  color: white;
  height: auto;
}

.header__bar {
  display: inline-block;
  background-color: orange;
  height: calc(8px + .5vw);
  margin: 0;
}

.page__header-title {
  display: inline-block;
  font-size: calc(4em + 3vw);
  font-family: 'League Spartan','Segoe UI', Tahoma, sans-serif;
  font-variation-settings: 'wght' 772;
}

.header__word {
  width: 100vw;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  /* padding-right: .4em; */
}

#word--first {
  padding-right: .4em;
  line-height: 82%;
}

#word--second {
  padding-left: .2em;
}

#bar--first,
#bar--second {
  flex: 2 0 30vw;
}

<<<<<<< HEAD
#bar--first {
  margin-right: .13em;
}

#bar--second {
  margin-left: .13em;
}

/* CSS for the band list */

.band-section {
  width: 44vw;
  position: absolute;
  top: 40%;
  left: calc(50% - 22vw);
}

.band-section ul {
  font-size: 25px;
  list-style-type: none;
  margin-left: 1.7em;
  margin-right: 1.7em;
  text-align: center;

}

.band-section ul li {
  padding: 0.7em 0.5em 0.2em 0.5em;
  /*border-bottom: 0.1em solid #FFAB6D; --this was the previous underline for the band names*/
  font-weight: 600;
  color: #eee;
}

.band-section ul li p {
  font-size: 20px;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 2px;
  font-weight: 400;
  font-style: italic;
  color: #eee;
  background: /* making gradient underlines */
   linear-gradient(
     to left,
     #121212 0%,
     #FFAB6D 30%,
     #FFAB6D 60%,
     #121212 100%
   )
   left
   bottom
   #121212
   no-repeat;

 background-size:100% 2px ; /*Setting the height of the lines, and a 100% width so it fills up its container*/
}

/* Band list CSS ends*/